name: Run tests

on:
  push:
    branches:
      - main
    paths:
      - "*.go"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Build
        run: go build -v ./...

      - name: Get gopherbadger
        run: go install github.com/jpoles1/gopherbadger

      - name: Run test
        run: gopherbadger -style=for-the-badge -covercmd "go test -v -race -covermode atomic -coverprofile=cover.out ./... && go tool cover -func=cover.out"

      - name: Commit coverage badge
        uses: EndBug/add-and-commit@v7
        with:
          message: "ci: update coverage"
          add: "coverage_badge.png"
          author_name: "github-actions[bot]"
          author_email: "github-actions[bot]@users.noreply.github.com"
